In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
sns.set
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv('C:/Users/milan/Desktop/Studies/Data Science Course/The Data Science Course 2021 - All Resources/Part_5_Advanced_Statistical_Methods_(Machine_Learning)/S34_L208/1.01. Simple linear regression.csv')
data

     SAT   GPA
0   1714  2.40
1   1664  2.52
2   1760  2.54
3   1685  2.74
4   1693  2.83
..   ...   ...
79  1936  3.71
80  1810  3.71
81  1987  3.73
82  1962  3.76
83  2050  3.81

[84 rows x 2 columns]

In [3]:
x = data['SAT']
y = data['GPA']

In [4]:
x.shape

(84,)

In [5]:
y.shape

(84,)

In [6]:
x_matrix = x.values.reshape(84,1)

In [7]:
y_matrix = y.values.reshape(84,1)

In [8]:
reg = LinearRegression()

In [9]:
reg.fit(x_matrix,y)

LinearRegression()

R-squared

In [10]:
reg.score(x_matrix,y)

0.40600391479679765

Coefficients

In [11]:
reg.coef_

array([0.00165569])

Making prediction

In [14]:
new_data = pd.DataFrame(data=[1740,1760],columns=['SAT'])
new_data

    SAT
0  1740
1  1760

In [15]:
reg.predict(new_data)

C:\Users\milan\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

array([3.15593751, 3.18905127])

Adding the predictions to DF

In [16]:
new_data['predicted GPA'] = reg.predict(new_data)
new_data

C:\Users\milan\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

    SAT  predicted GPA
0  1740       3.155938
1  1760       3.189051